* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vmin;
}

body > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

input {
    outline: none;
    padding: 10px 8px;
}

button {
    padding: 10px 16px;
    cursor: pointer;
}

#errorID {
    margin-top: 20px;
}